<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TweetHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
      background-color: black;
      color: white; 
    }
  </style>
<body>
<h1>Welcom to tweethub</h1>
<h2>Login Here</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class = "btn-primary">Login</button>

</form>
<p>
  Don't have an account than Register Here
    <a href = "{% url 'register' %}">Register</a>
</p>

</body>
</html>