<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TweetHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  body {
    background-color: black;
    color: white; 
  }
</style>
<body>
<h1>Welcom to tweethub</h1>
<h2>logged out</h2>

<p>
  you have been logged out , if you want to login again.
    <a href = "{% url 'login' %}">Login</a>
</p>

</body>
</html>